* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
.giphy-board-container {
  background: linear-gradient(to bottom, #2d132c, #ee4540);
  min-height: 100vh;
  padding: 0 1rem;
}
h1 {
  color: #801336;
  text-transform: uppercase;
  font-size: 2rem;
}
.giphy-board .header {
  height: 100vh;
  max-height: 100vh;
  transition: max-height 0.3s linear;
}
.giphy-board .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s linear;
}
.giphy-board.searched .header {
  max-height: 18vh;
}
.giphy-board.searched .content {
  max-height: 100000vh;
  min-height: 82vh;
  padding-bottom: 7rem;
}
.giphy-board.result-returned .content {
  overflow: auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem 0;
}
.search-field {
  position: relative;
  width: 100%;
  max-width: 20rem;
}
.search-field .search-input {
  height: 2.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 23px;
  appearance: none;
}
@media (min-width: 768px) {
  .search-field .search-input {
    height: 3rem;
  }
}
.search-field .search-input:active, .search-field .search-input:focus {
  outline: none;
}
.search-field .search-button {
  position: absolute;
  right: 0.5rem;
  width: 2.1rem;
  height: 2.1rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
.search-field .search-button:focus, .search-field .search-button:active {
  outline: none;
}
.search-field .search-button svg {
  font-size: 1.1rem;
}
.search-field .search-button svg path {
  transition: fill 0.2s linear;
  fill: #145374;
}
.search-field .search-button:hover svg path {
  fill: #00334e;
}
nav {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
@media (min-width: 768px) {
  nav {
    right: 1.5rem;
    top: 1.5rem;
  }
}
nav a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  color: #145374;
  transition: color 0.2s linear;
}
@media (min-width: 768px) {
  nav a {
    font-size: 2rem;
  }
}
nav a.current {
  display: none;
}
nav a:visited, nav a:focus {
  color: #c72c41;
}
nav a:hover {
  color: #801336;
}
.content {
  position: relative;
}
.list {
  column-width: 200px;
  column-gap: 0.5rem;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .list {
    max-width: 39rem;
  }
}
@media (min-width: 960px) {
  .list {
    max-width: 52rem;
  }
}
@media (min-width: 1200px) {
  .list {
    max-width: 78rem;
  }
}
.list li {
  position: relative;
  list-style: none;
  text-align: center;
  cursor: pointer;
  margin: 0 auto 0.5rem auto;
  background: linear-gradient(to bottom, rgba(23, 217, 169, 0.15) 0%, rgba(23, 217, 169, 0.05) 100%);
}
.list li img {
  max-width: 100%;
  transition: opacity 0.2s linear;
}
.list li .favorite-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #c72c41;
}
@media (min-width: 768px) {
  .list li .favorite-icon {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .list li .favorite-icon {
    font-size: 4rem;
  }
}
.list li:hover img {
  opacity: 0.6;
}
.list li:hover .favorite-icon {
  display: block;
}
.list li.favorite .favorite-icon {
  color: #c72c41;
}
.no-result {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% - 9vh);
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
}
.load-more {
  position: absolute;
  left: 50%;
  bottom: 3rem;
  height: 2.5rem;
  padding: 0 1.3rem;
  background: #293462;
  cursor: pointer;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  transform: translateX(-50%);
  color: #fff;
  transition: background-color 0.2s linear;
  border-radius: 5px;
}
.load-more:active, .load-more:focus {
  outline: none;
}
.load-more:hover {
  background: #454d66;
}
.load-more.is-loading {
  pointer-events: none;
  opacity: 0.5;
}
.load-more .arrow {
  color: #fff;
}
.msg {
  font-size: 0.9rem;
  color: #d0021b;
  font-weight: bold;
  text-align: center;
}
